#pet{
    background-image: url('https://media1.popsugar-assets.com/files/thumbor/X5BDlz2qimK1keDDrnOzIE5Lwdg/fit-in/728xorig/filters:format_auto-!!-:strip_icc-!!-/2014/08/08/878/n/1922507/caef16ec354ca23b_thumb_temp_cover_file32304521407524949/i/Funny-Cat-GIFs.jpg');
    height: 75%;
    background-size: cover;
    background-position: center;
}